/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #eee;
}

header {
  color: #ddd;
  text-align: center;
  font-size: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}


/* Header Active Class */
header.active .lnb-inner{
  display: none;
}
header.active .gnb-inner{
  background-color: #eee;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.171);
}

.lnb-inner, .gnb-inner {
  transition: 0.3s;
}

.lnb-inner {
  background-color: crimson;
  height: 40px;
  line-height: 40px;
}
.gnb-inner {
  background-color: #222;
  height: 80px;
  line-height: 80px;
}
.btn-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 26px;
  color: #fff;
  background-color: #222;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 37px;
}

section p {
  font-size: 3em;
  line-height: 2em;
  color: #ddd;
}