/* Google Web Fonts CDN */
@import url('https://fonts.googlepis.com/css?family=Noto+Sans+KR:300,400,500,600,700,900&display=swap');


body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    color: #222;
    line-height: 1.6em;
    background-color: #f4f4f4;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    width: 800px;
}
.heading {}
.tab-inner {
    margin-top: 30px;
}
.btn {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    margin-left: 10px;
}
.btn li {
    float: left;
    /* border: 1px solid #000; */
    width: 120px;
    text-align: center;
    cursor: pointer;
    background-color: #eee;
    border-right: 1px solid #ddd;
    padding: 5px;
    border-top: 2px solid transparent;
}
.btn li:last-child {
    width: 170px;
    border-right: none;
}
.btn li:hover,
.btn li.active {
    background-color: #fff;
    border-top: 2px solid crimson;
}

.tabs {}
.tabs div {
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    /* height: 200px; */
    display: none;
}

.tabs div.active {
    display: block;
}


/* Tab Content */

.tabs div h2 {
    text-align: center;
}

.tabs div p {
    overflow: hidden;
}

/* Heading */
.heading {}
.heading h1{
    font-size: 25px;
    text-align: center;
}
.heading h1 span{
    color: crimson;
}
.heading input[type=text] {
    background-color: #fff;
    outline: none;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgba(128, 128, 128, 0.301);
}

.heading input[type=text]::placeholder {
    font-style: italic;
    transition: 0.3s;
}

.heading input[type=text]:focus::placeholder {
    opacity: 0;
}

a {
    color: aqua;
    font-size: 15px;
    text-decoration: none;
}